* {
    background-color: black;
}
.black-bar {
    width: 90%;
    height: 100px; /* Adjust height as needed */
    background-color: #cdc1c15b;
    position: absolute;
    left: 5%;
}
.image{
    position: absolute;
    top: 14.8%;
    left: 5%;
    height: 600px;
    width: 430px;
}
.rohit{
    color: white;
    position: absolute;
    top: 10%;
    right: 43%;
    font-size: 90px;
}
.note{
    color: white;
    position: absolute;
    top: 60%;
    left: 40%;
}
.buttons{
    background-color: white;
    position: absolute;
    top: 80%;
    left: 40%;
    width: 140px;
    height: 60px;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}
.buttons:hover{
    color: #2C1A40;
    background: #e1d8d8;
    text-decoration: none;
    box-shadow: 0 0 15px #9e9e9eb3;
}
.button{
    color: white;
    background: transparent;
    display: flex;
    gap: 100px;
    margin-left: 57.5%;
    margin-top: 2.9%;
    
}
.button a {
    color: black;
    text-decoration: none;
    background-color: #9e9e9e00;
}
.button a:hover {
     
    text-decoration: underline; 
}